requests==2.31.0 # version 2.32+ causes issue with molecule and docker
ansible==9.6.0  # version 10.0.0+ requires python3.7+, pacakages for python3.7+ are not available on CentOS7/RHEL7
molecule
molecule-plugins[docker]
docker
pytest-testinfra>=1.7.0